name: Build test

on:
  push:
    branches:
      - master
      - build/*
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Build & run
        run: |
          go build -v .
          ./data-crawler -a

      - uses: actions/upload-artifact@v2
        with:
          name: packages
          path: |
            output/op.gg
            output/op.gg-aram
            output/murderbridge
