name: Publish to npm

on:
  push:
    branches: [ build/* ]
#  pull_request:
#    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Build binary & Publish
        run: |
          go build -v ./...
          ./data-crawler -mb -opgg

      - name: Publish
        run: |
          cd output/op.gg
          npx npm-cli-login -u ${{ secrets.NPM_USER }} -e ${{ secrets.NPM_EMAIL }} -p ${{ secrets.NPM_PASS }}
          npm publish --access public
          cd ../murderbridge
          npx npm-cli-login -u ${{ secrets.NPM_USER }} -e ${{ secrets.NPM_EMAIL }} -p ${{ secrets.NPM_PASS }}
          npm publish --access public

      - uses: actions/upload-artifact@v2
        with:
          name: packages
          path: |
            output/op.gg
            output/murderbridge
